<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>TodoList</title>
</head>
<body>
    <div class="card text-center container mt-5">
  <div class="card-header">
    <h1>TODO LIST</h1>
  </div>
  <div class="card-body">
    
    <% for (let t of todoList) { %>
        <h5>
            <b><%= t.name %></b> 
            : Created at <%= new Date(t.createdAt).toLocaleString() %> 
            : ID <%= t.id + 1%>
            
            <!-- Edit button -->
            <a href="/todolist/<%= t.id %>" class="btn btn-info">Edit</a>

            <!-- Delete button (form with method-override) -->
            <form action="/todolist/<%= t.id %>?_method=DELETE" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </h5>
    <% } %>
 </div>
  <div class="card-footer text-body-secondary">
    <a href="/todolist/new" class="btn btn-primary">New</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </div>
</div>
</body>
</html>
